
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Keystrokes Template</title>
</head>
<body>
  <h1>This is keystrokes app template</h1>

  <form id="keystrokesForm">
    <label>App to Focus:</label>
    <input type="text" class="app-input">

    <label>Keystrokes:</label>
    <input type="text" class="keystrokes-input">

    <button type="submit">Send</button>
  </form>
</body>
</html>

<!-- script -->
<script>
   document.getElementById('keystrokesForm').addEventListener('submit', function(e) {
      e.preventDefault();

      const appInput = document.querySelector(".app-input").value();
      const keystrokeInput = document.querySelector(".keystrokes-input").value();
      
      // Get the data from the input field
      const inputData = {
        appInput,
        keystrokeInput
      };

      // Send the data to the server using Fetch
      fetch('/api/keystroke', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ inputData })
      })
      .then(response => response.json())
      .then(data => {
        // Handle the server's response
        console.log('Server response:', data);
      })
      .catch(error => {
        console.error('Error:', error);
      });
    });
</script>